<%= turbo_frame_tag "meals_list" do %>
  <% if @meals.any? %>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @meals.each do |meal| %>
        <div class="relative">
          <%= link_to meal_path(meal), data: { turbo: false } do %>
            <div class="bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition-all duration-300">
              <%= image_tag meal.image_url, class: "w-full h-48 object-cover" %>
              <div class="p-6">
                <h4 class="text-xl font-semibold text-gray-800 mb-2"><%= meal.name %></h4>
                <p class="text-sm text-gray-500 mb-4"><%= meal.category.name %></p>
              </div>
            </div>
          <% end %>
          <%= render "meals/favorite_button", meal: meal %>
        </div>
      <% end %>
    </div>
    <%== pagy_nav(@pagy, link_extra: 'data-turbo-frame="meals_list"') if @meals.size >= 6 %>
  <% else %>
    <div class="max-w-5xl mx-auto px-6 text-center">
      <h3 class="text-xl md:text-2xl text-gray-600 mb-2 max-w-3xl mx-auto">No meals found</h3>
    </div>
  <% end %>
<% end %>