<div class="w-full">
  <section class="py-5 bg-gradient-to-r from-green-50 to-blue-50 rounded-3xl ">
    <div class="max-w-5xl mx-auto px-6 text-center">
      <p class="text-xl md:text-2xl text-gray-600 mb-2 max-w-3xl mx-auto">
        Generate or find delicious, random meal recipes for breakfast, lunch, or dinner with just one click!
      </p>
      <%= button_to get_random_meals_path, method: :post, class: "generate-btn bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 text-white font-bold py-4 px-10 rounded-full text-xl shadow-lg hover:shadow-xl transition-all duration-300 transform hover:scale-105 mt-6" do %>
        Surprise me with random receipt
      <% end %>
    </div>
  </section>

  <section class="py-5">
    <%= form_with url: meals_path, method: :get, data: { turbo_frame: "meals_list", turbo: true, controller: "form" }, class: "flex flex-col items-center mb-6 w-full" do %>
      <div class="flex flex-wrap justify-center mb-4 w-full" data-controller="category">
        <% @categories.each do |category| %>
          <div class="mx-2 mb-6">
            <%= check_box_tag "categories[]", category.id, params[:categories]&.include?(category.id.to_s), data: { action: "form#submit", form_target: "checkbox" }, id: "category_#{category.id}", class: "hidden peer" %>
            <%= label_tag "category_#{category.id}", category.name, class: "cursor-pointer border bg-white peer-checked:bg-blue-500 text-gray-800 peer-checked:text-white font-bold py-2 px-4 rounded-full" %>
          </div>
        <% end %>
      </div>
      <div class="flex items-center bg-white rounded-full shadow-md overflow-hidden w-full mx-auto">
        <%= text_field_tag :query, params[:query], data: { form_target: "input" }, placeholder: "Search receipt by name", class: "px-6 py-4 outline-none w-full" %>
        <%= submit_tag "Search", class: "bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 text-white font-bold py-4 px-8 rounded-l-3xl border-l transition-all duration-300 transform hover:scale-105 hover:shadow-lg" %>
        <%= button_tag "Reset",
            type: "button",
            data: { action: "form#reset" },
            class: "bg-gray-100 hover:bg-gray-200 text-gray-700 font-bold py-4 px-6 border-l transition-all duration-300" %>
      </div>
    <% end %>

    <%= render partial: "meals/meals_list", locals: { meals: @meals, pagy: @pagy } %>
  </section>

  <section class="py-16 max-w-6xl mx-auto px-6">
    <h2 class="text-3xl font-bold text-gray-800 mb-10 text-center">Featured Recipes</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <% @featured_meals.each do |meal| %>
        <%= link_to meal_path(meal), data: { turbo: false } do %>
          <div class="bg-white rounded-xl overflow-hidden shadow-md hover:shadow-lg transition-all duration-300">
            <%= image_tag meal.image_url, class: "w-full h-48 object-cover" %>
            <div class="p-6">
              <h4 class="text-xl font-semibold text-gray-800 mb-2"><%= meal.name %></h4>
              <p class="text-sm text-gray-500 mb-4"><%= meal.category.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
  </section>
</div>
